<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance Booking List</title>
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="css/adv_booking.css">

    <script>
        //loader js
        function hideLoader() {
            let l_b = document.getElementById('loader_bg');
            l_b.style.display = 'none';
        }
        setTimeout(hideLoader, 5 * 100);
    </script>
</head>

<body>
    <!-- loader -->
    <div class="loader_bg" id="loader_bg">
        <div class="loader"><img src="../images/cabby_logo_TRA.gif" width="100px" alt="#" /></div>
    </div>

    <header>
        <div class="navcontainer">
            <ul class="btns">
                <li class="ul_item" class="nav-itm">

                    <div class="nav-icon">
                        <img src="../images/cabby_logo_TRA.png" width="25px" alt="">
                        <a href="driver_home.html" id="ad_booking" class="nav-itm" class="text">Home</a>
                    </div>

                </li>
                <li class="ul_item" class="nav-itm">
                    <div class="nav-icon">
                        <img src="../images/account-solid.gif" width="25px" alt="">
                        <a href="driver_profile.html" id="username" class="nav-itm" class="text">Username</a>
                    </div>
                </li>
                <li class="ul_item" class="nav-itm">
                    <div class="active">
                        <div class="nav-icon">
                            <img src="../images/assignment-solid.gif" width="25px" alt="">
                            <a href="driver_Advance_Booking_List.html" id="ad_booking" class="nav-itm" class="text">Your
                                Advance Booking List</a>
                        </div>
                    </div>
                </li>
                <li class="ul_item" class="nav-itm">
                    <div class="nav-icon">
                        <img src="../images/28-info-solid.gif" width="25px" alt="">
                        <a href="#" id="info" class="nav-itm" class="text">Info</a>
                    </div>
                </li>
                <li class="ul_item" class="nav-itm">
                    <div class="nav-icon">
                        <img src="../images/logout.png" width="25px" alt="">
                        <button id="logout" class="nav-itm" class="text">Logout</button>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <div class="cf_con">
        <center>
            <h1 class="cf_head">Your Upcoming Trip</h1>
        </center>
        <div class="cf-list_con">
            <div class="cf-list-itm0">
                <div class="tripd">
                    <div class="trip-itm">
                        <p>Name : <span>Name of user</span></p>
                    </div>
                    <div class="trip-itm">
                        <p>Paek-up : <span>Charusat gate 1</span></p>
                    </div>
                    <div class="trip-itm">
                        <p>Drop : <span>Anand</span></p>
                    </div>
                    <div class="trip-itm time">
                        <p>Time : <span>Today</span> <span>12:00 PM</span> (After 00h:00m)</p>
                    </div>
                    <div class="inlinecon">
                        <div class="trip-itm Passengers psg_pri-fb">
                            <p>Passengers : <span>5</span></p>
                        </div>
                        <div class="trip-itm Price psg_pri-fb">
                            <p>Price : <span>150 ruppes</span> </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cf-list-itm1">
                <div class="tripd">
                    <div class="trip-itm">
                        <p>Name : <span>Name of user</span></p>
                    </div>
                    <div class="trip-itm">
                        <p>Paek-up : <span>Charusat gate 1</span></p>
                    </div>
                    <div class="trip-itm">
                        <p>Drop : <span>Anand</span></p>
                    </div>
                    <div class="trip-itm time">
                        <p>Time : <span>Today</span> <span>12:00 PM</span> (After 00h:00m)</p>
                    </div>
                    <div class="inlinecon">
                        <div class="trip-itm Passengers psg_pri-fb">
                            <p>Passengers : <span>5</span></p>
                        </div>
                        <div class="trip-itm Price psg_pri-fb">
                            <p>Price : <span>150 ruppes</span> </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cf-list-itm0">
                <div class="tripd">
                    <div class="trip-itm">
                        <p>Name : <span>Name of user</span></p>
                    </div>
                    <div class="trip-itm">
                        <p>Paek-up : <span>Charusat gate 1</span></p>
                    </div>
                    <div class="trip-itm">
                        <p>Drop : <span>Anand</span></p>
                    </div>
                    <div class="trip-itm time">
                        <p>Time : <span>Today</span> <span>12:00 PM</span> (After 00h:00m)</p>
                    </div>
                    <div class="inlinecon">
                        <div class="trip-itm Passengers psg_pri-fb">
                            <p>Passengers : <span>5</span></p>
                        </div>
                        <div class="trip-itm Price psg_pri-fb">
                            <p>Price : <span>150 ruppes</span> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cf-list-itm1">
                <div class="tripd">
                    <div class="trip-itm">
                        <p>Name : <span>Name of user</span></p>
                    </div>
                    <div class="trip-itm">
                        <p>Paek-up : <span>Charusat gate 1</span></p>
                    </div>
                    <div class="trip-itm">
                        <p>Drop : <span>Anand</span></p>
                    </div>
                    <div class="trip-itm time">
                        <p>Time : <span>Today</span> <span>12:00 PM</span> (After 00h:00m)</p>
                    </div>
                    <div class="inlinecon">
                        <div class="trip-itm Passengers psg_pri-fb">
                            <p>Passengers : <span>5</span></p>
                        </div>
                        <div class="trip-itm Price psg_pri-fb">
                            <p>Price : <span>150 ruppes</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>